In [11]:
# https://syndigo-my.sharepoint.com/:x:/p/raja_raman/EbBFts3WUk9Pr8cF5fxPUPQB0g7L7y7ZHn5S8Xoj3maFtg?e=czutVa

In [18]:
import pandas as pd

In [19]:
FILEPATH = "~/datasets/Address-Pattern-NER-20240305-1.xlsx"

In [20]:
# Replace 'path_to_file.xlsx' with the path to your Excel file
df = pd.read_excel(FILEPATH, sheet_name='base', engine='openpyxl', header = 1)

In [21]:
df.head()

,pattern index,address,street_name,house_no,suite_no
0,NaN,3 jalan radin bagus,jalan radin bagus,3,NaN
1,5.0,2492 / 68 trenčianska,trenčianska,2492,68
2,1.0,34 sylvester ave,sylvester ave,34,NaN
3,2.0,nový domov příspěvková organizace,nový domov příspěvková organizace,NaN,NaN
4,3.0,18 - 20 siltasaarenkatu,siltasaarenkatu,18,20

In [22]:
len(df)

39

In [24]:
df = df[df['address'] != 'null']

In [25]:
len(df)

39

In [26]:
df[20:]

    pattern index    address street_name house_no suite_no
20           56.0    452 303         NaN      452      303
21           57.0  syl/moray   syl/moray      NaN      NaN
22            NaN        NaN         NaN      NaN      NaN
23            NaN        NaN         NaN      NaN      NaN
24            NaN        NaN         NaN      NaN      NaN
25            NaN        NaN         NaN      NaN      NaN
26            NaN        NaN         NaN      NaN      NaN
27            NaN        NaN         NaN      NaN      NaN
28            NaN        NaN         NaN      NaN      NaN
29            NaN        NaN         NaN      NaN      NaN
30            NaN        NaN         NaN      NaN      NaN
31            NaN        NaN         NaN      NaN      NaN
32            NaN        NaN         NaN      NaN      NaN
33            NaN        NaN         NaN      NaN      NaN
34            NaN        NaN         NaN      NaN      NaN
35            NaN        NaN         NaN      NaN      NaN
36            NaN        NaN         NaN      NaN      NaN
37            NaN        NaN         NaN      NaN      NaN
38            NaN        NaN         NaN      NaN      NaN