In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ver-2023-01_test.csv')

In [6]:
df1 = df.iloc[0:5]

In [7]:
df1

,NAME,ADDRESS,CITY,REGION,POSTAL,COUNTRY,NAME_RIGHT,ADDRESS_RIGHT,CITY_RIGHT,REGION_RIGHT,POSTAL_RIGHT,COUNTRY_RIGHT,PRED
0,PIZZA HUT ELDORADO,"AVENIDA REBOUÇAS, 3970",SÃO PAULO,SP,05402-600,BRA,PIZZA HUT ELDORADO,"AVENIDA REBOUÇAS, 3970",SÃO PAULO,SP,05402-600,BRA,1
1,MOE'S,1326 TOWN CENTER DR,LAKELAND,FL,33803-7953,USA,MOES SOUTHWEST GRILL 404,1326 TOWN CENTER DR,LAKELAND,FL,33803-7953,USA,1
2,IBIS HOTEL,MOUNT TALBOT,DUBLIN 22,DB,D22 F903,IRL,MALDRON HOTEL NEWLANDS CROSS,1A EXIT NAAS ROAD EXIT NAAS ROAD,DUBLIN 22,DB,D22 V6Y6,IRL,0
3,RVR ENTERPRISES RAIPUR,SHARMA COMPLEX SHOP NO 4,RAIPUR,CHATTISGARH,493221,IND,RVR ENTERPRISES RAIPUR,SHARMA COMPLEX SHOP NO 4,RAIPUR,CHATTISGARH,493221,IND,1
4,ROYAL ORTHOPAEDIC HOSPITAL NHS,BRISTOL ROAD SOUTH NORTHFIELD,BIRMINGHAM,WM,B31 2AQ,GBR,ROYAL ORTHOPAEDIC HOSPITAL NHS,BRISTOL ROAD SOUTH NORTHFIELD,BIRMINGHAM,WM,B31 2AQ,GBR,1

In [8]:
df1.to_csv('ver-2023-01_test2.csv')