In [11]:
# https://syndigo-my.sharepoint.com/:x:/p/raja_raman/EbBFts3WUk9Pr8cF5fxPUPQB0g7L7y7ZHn5S8Xoj3maFtg?e=czutVa

In [12]:
import pandas as pd

In [13]:
FILEPATH = "~/datasets/Address-Pattern-NER-20240305-1.xlsx"

In [14]:
# Replace 'path_to_file.xlsx' with the path to your Excel file
df = pd.read_excel(FILEPATH, sheet_name='base', engine='openpyxl', header = 1)

In [15]:
df.head()

,pattern index,address,street_name,house_no,suite_no
0,NaN,3 jalan radin bagus,jalan radin bagus,3,NaN
1,5.0,2492 / 68 trenčianska,trenčianska,2492,68
2,1.0,34 sylvester ave,sylvester ave,34,NaN
3,2.0,nový domov příspěvková organizace,nový domov příspěvková organizace,NaN,NaN
4,3.0,18 - 20 siltasaarenkatu,siltasaarenkatu,18,20

In [16]:
len(df)

39