In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('validator.csv')

In [26]:
df

,address,street_name_original,house_no_original,suite_no_original,street_name_predicted,house_no_predicted,suite_no_predicted,predicted_right
0,Lamb Station 006,Lamb Station,6,None,Lamb Station,6.0,NaN,1.0
1,Michael Turnpike 881,Michael Turnpike,881,None,Michael Turnpike,881.0,NaN,1.0
2,Jacob Walks 2575,Jacob Walks,2575,None,Jacob Walks,2575.0,NaN,1.0
3,Roberts Gardens 048,Roberts Gardens,48,None,Roberts Gardens,48.0,NaN,1.0