In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('validator.csv')

In [69]:
df

,address,street_name_original,house_no_original,suite_no_original,street_name_predicted,house_no_predicted,suite_no_predicted,predicted_right,reason
0,Lauren Walks 63523,Lauren Walks,63523,None,Lauren Walks,63523.0,NaN,1.0,NaN
1,Floyd Isle 62368,Floyd Isle,62368,None,Floyd Isle,62368.0,NaN,1.0,NaN
2,Danielle Vista 87835,Danielle Vista,87835,None,Danielle Vista,87835.0,NaN,1.0,NaN
3,Ramos Spur 892,Ramos Spur,892,None,Ramos Spur,892.0,NaN,1.0,NaN
4,Stone Drives 96496,Stone Drives,96496,None,Stone Drives,96496.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...
2099,Rivera Tunnel 757,Rivera Tunnel,757,None,Rivera Tunnel,757.0,NaN,1.0,NaN
2100,Lamb Station 006,Lamb Station,6,None,Lamb Station,6.0,NaN,1.0,NaN
2101,Michael Turnpike 881,Michael Turnpike,881,None,Michael Turnpike,881.0,NaN,1.0,NaN
2102,Jacob Walks 2575,Jacob Walks,2575,None,Jacob Walks,2575.0,NaN,1.0,NaN
2103,Roberts Gardens 048,Roberts Gardens,48,None,Roberts Gardens,48.0,NaN,1.0,NaN

In [70]:
df_pred_wrong = df[df['predicted_right'] == 0]

In [71]:
len(df_pred_wrong)

3

In [72]:
len(df)

2104

In [76]:
df_pred_wrong

,address,street_name_original,house_no_original,suite_no_original,street_name_predicted,house_no_predicted,suite_no_predicted,predicted_right,reason
532,Butler Street 500,Butler Street,500,None,Butler Street,NaN,500.0,0.0,house_no_mismatch 500 : null
1480,Charles Walks 500,Charles Walks,500,None,Charles Walks,NaN,500.0,0.0,house_no_mismatch 500 : null
1840,Stacy Valleys 119,Stacy Valleys,119,None,Stacy Valleys,NaN,119.0,0.0,house_no_mismatch 119 : null

In [77]:
df_pred_right = df[df['predicted_right'] == 1]

In [78]:
df_pred_right[0:50]

,address,street_name_original,house_no_original,suite_no_original,street_name_predicted,house_no_predicted,suite_no_predicted,predicted_right,reason
0,Lauren Walks 63523,Lauren Walks,63523,None,Lauren Walks,63523.0,NaN,1.0,NaN
1,Floyd Isle 62368,Floyd Isle,62368,None,Floyd Isle,62368.0,NaN,1.0,NaN
2,Danielle Vista 87835,Danielle Vista,87835,None,Danielle Vista,87835.0,NaN,1.0,NaN
3,Ramos Spur 892,Ramos Spur,892,None,Ramos Spur,892.0,NaN,1.0,NaN
4,Stone Drives 96496,Stone Drives,96496,None,Stone Drives,96496.0,NaN,1.0,NaN
5,Shaw Gardens 6361,Shaw Gardens,6361,None,Shaw Gardens,6361.0,NaN,1.0,NaN
6,Gordon Centers 37789,Gordon Centers,37789,None,Gordon Centers,37789.0,NaN,1.0,NaN
7,Gregory Plains 649,Gregory Plains,649,None,Gregory Plains,649.0,NaN,1.0,NaN
8,Elizabeth Way 4642,Elizabeth Way,4642,None,Elizabeth Way,4642.0,NaN,1.0,NaN
9,Davidson Ford 797,Davidson Ford,797,None,Davidson Ford,797.0,NaN,1.0,NaN
10,Lee Valleys 850,Lee Valleys,850,None,Lee Valleys,850.0,NaN,1.0,NaN
11,Jasmine Isle 5676,Jasmine Isle,5676,None,Jasmine Isle,5676.0,NaN,1.0,NaN
12,Lopez Mountains 78769,Lopez Mountains,78769,None,Lopez Mountains,78769.0,NaN,1.0,NaN
13,Robinson Key 6607,Robinson Key,6607,None,Robinson Key,6607.0,NaN,1.0,NaN
14,Ortiz Mission 289,Ortiz Mission,289,None,Ortiz Mission,289.0,NaN,1.0,NaN
15,Stacey Cliff 6648,Stacey Cliff,6648,None,Stacey Cliff,6648.0,NaN,1.0,NaN
16,Andrew Port 4268,Andrew Port,4268,None,Andrew Port,4268.0,NaN,1.0,NaN
17,Kaitlyn Spurs 773,Kaitlyn Spurs,773,None,Kaitlyn Spurs,773.0,NaN,1.0,NaN
18,Tucker Ferry 74346,Tucker Ferry,74346,None,Tucker Ferry,74346.0,NaN,1.0,NaN
19,Kathryn Cliffs 882,Kathryn Cliffs,882,None,Kathryn Cliffs,882.0,NaN,1.0,NaN
20,Pamela Fork 4496,Pamela Fork,4496,None,Pamela Fork,4496.0,NaN,1.0,NaN
21,Gibson Meadow 39845,Gibson Meadow,39845,None,Gibson Meadow,39845.0,NaN,1.0,NaN
22,Rivers Parkway 710,Rivers Parkway,710,None,Rivers Parkway,710.0,NaN,1.0,NaN
23,Cantu Points 738,Cantu Points,738,None,Cantu Points,738.0,NaN,1.0,NaN
24,Christina Dam 86637,Christina Dam,86637,None,Christina Dam,86637.0,NaN,1.0,NaN
25,Garcia Grove 693,Garcia Grove,693,None,Garcia Grove,693.0,NaN,1.0,NaN
26,Ward Shore 83614,Ward Shore,83614,None,Ward Shore,83614.0,NaN,1.0,NaN
27,Emily Mountains 2308,Emily Mountains,2308,None,Emily Mountains,2308.0,NaN,1.0,NaN
28,Thomas Prairie 610,Thomas Prairie,610,None,Thomas Prairie,610.0,NaN,1.0,NaN
29,Anthony Throughway 0997,Anthony Throughway,997,None,Anthony Throughway,997.0,NaN,1.0,NaN
30,Sally Center 65905,Sally Center,65905,None,Sally Center,65905.0,NaN,1.0,NaN
31,Sandra Run 6168,Sandra Run,6168,None,Sandra Run,6168.0,NaN,1.0,NaN
32,Nielsen Ville 166,Nielsen Ville,166,None,Nielsen Ville,166.0,NaN,1.0,NaN
33,Regina Pine 868,Regina Pine,868,None,Regina Pine,868.0,NaN,1.0,NaN
34,Butler Hills 285,Butler Hills,285,None,Butler Hills,285.0,NaN,1.0,NaN
35,Joseph Spring 46394,Joseph Spring,46394,None,Joseph Spring,46394.0,NaN,1.0,NaN
36,Jennifer Ford 6001,Jennifer Ford,6001,None,Jennifer Ford,6001.0,NaN,1.0,NaN
37,Gwendolyn Stream 562,Gwendolyn Stream,562,None,Gwendolyn Stream,562.0,NaN,1.0,NaN
38,Stevens Creek 81392,Stevens Creek,81392,None,Stevens Creek,81392.0,NaN,1.0,NaN
39,Lawson Meadow 71599,Lawson Meadow,71599,None,Lawson Meadow,71599.0,NaN,1.0,NaN
40,Robinson Port 29516,Robinson Port,29516,None,Robinson Port,29516.0,NaN,1.0,NaN
41,Peterson Ford 02866,Peterson Ford,2866,None,Peterson Ford,2866.0,NaN,1.0,NaN
42,Wright Cove 80846,Wright Cove,80846,None,Wright Cove,80846.0,NaN,1.0,NaN
43,Kevin Square 48550,Kevin Square,48550,None,Kevin Square,48550.0,NaN,1.0,NaN
44,Wilson Lights 1855,Wilson Lights,1855,None,Wilson Lights,1855.0,NaN,1.0,NaN
45,Chloe Pass 7731,Chloe Pass,7731,None,Chloe Pass,7731.0,NaN,1.0,NaN
46,Carter Circles 8320,Carter Circles,8320,None,Carter Circles,8320.0,NaN,1.0,NaN
47,Danielle Trail 83282,Danielle Trail,83282,None,Danielle Trail,83282.0,NaN,1.0,NaN
48,Lisa Port 2584,Lisa Port,2584,None,Lisa Port,2584.0,NaN,1.0,NaN
49,Sanchez Shores 061,Sanchez Shores,61,None,Sanchez Shores,61.0,NaN,1.0,NaN