In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('validator.csv')

In [6]:
df

,address,street_name_original,house_no_original,suite_no_original,street_name_predicted,house_no_predicted,suite_no_predicted,predicted_right
0,Preston Court 155,Preston Court,155,NaN,Preston Court,155.0,NaN,0
1,Erika Port 20635,Erika Port,20635,NaN,Erika Port,20635.0,NaN,0
2,Shelton Orchard 3323,Shelton Orchard,3323,NaN,Shelton Orchard,3323.0,NaN,0
3,Sexton River 7491,Sexton River,7491,NaN,Sexton River,7491.0,NaN,0
4,Devin Flat 93499,Devin Flat,93499,NaN,Devin Flat,93499.0,NaN,0
5,Garcia Mall 3421,Garcia Mall,3421,NaN,Garcia Mall,3421.0,NaN,0
6,Christopher Mount 99394,Christopher Mount,99394,NaN,Christopher Mount,99394.0,NaN,0
7,Jessica Islands 49284,Jessica Islands,49284,NaN,Jessica Islands,49284.0,NaN,0
8,Perry Dam 1126,Perry Dam,1126,NaN,Perry Dam,1126.0,NaN,0
9,Kathy Wells 528,Kathy Wells,528,NaN,Kathy Wells,528.0,NaN,0
10,Jason Orchard 609,Jason Orchard,609,NaN,Jason Orchard,609.0,NaN,0
11,Tonya Curve 487,Tonya Curve,487,NaN,Tonya Curve,487.0,NaN,0
12,Nancy Ramp 6362,Nancy Ramp,6362,NaN,Nancy Ramp,6362.0,NaN,0

In [ ]:
cl